{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% else %}
<h1><strong>This app is currently under Maintenance: Can only view Products as of Now</strong></h1>
{% endif %}

    <div class="row">
        {% if query %}
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.imageURL }}">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    {% if user.is_authenticated %}
                  
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="{% url 'views' product.id %}">View</a>
                    <h4 style="display: inline-block;"><strong>${{product.price|floatformat:2}}</strong></h4>
                    {% else %}
                    <button class="btn btn-outline-secondary add-btn update-cart">Contact Administrator </button>
                    <a class="btn btn-outline-success" href="{% url 'views' product.id %}">View</a>
                    <h4 style="display: inline-block;"><strong>${{product.price|floatformat:2}}</strong></h4>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
		        {% else %}
            <p>No search results found.</p>
        {% endif %}
    </div>
{% endblock content %}

