.topnav{
    padding: 10px;
    margin-top: 50px;
}

.ab{
    margin-right: 50px;
}
.a{
    margin-left: 640px;
}
.fafa-shopping-cart{
    margin-top: 70px;

}
.Giannis{
    height: 190px;
    width: 250px;
    margin-left: 50px;    
    margin-bottom:20px;
    align-content: center;
    position: static;
}

.Lebron{
    margin-left: 50px;
    height: 190px;
    width: 250px;
    margin-bottom:20px;
    align-content: center;
    position: static;
    
}

.Paul{
    margin-left: 50px;
    height:140px;
    width:250px;
    margin-top: 50px;
    align-content: center;
    position: static;
}


.Russel{
    margin-left: 50px;
    height:120px;
    width:250px;
    margin-top: 50px;
    align-content: center;
    position: static;
    
}

.toprow{
    display:inline-block;
    height:450px;
    width:400px;
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 5px;
}

.bottomrow{
    display:inline-block;
    height:450px;
    width:400px;
    border: 1px solid black;
    padding: 5px;
}

.Buynow{
    background-color: whitesmoke;
    color: black;
}

.Buynow:hover{
   cursor: pointer;
   background-color: rgb(233, 152, 130);
   color: azure;
}

.total{
    display: grid;
    grid-gap: 20px;   
}

body{
    background-color: bisque;
}

.topnav{
    overflow: hidden;
    background-color: rgb(252, 189, 106);
}

.topnav a {
    float: left;
    color:rgb(7, 6, 5);
    text-align: center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
    
}

.topnav a:hover{
    background-color: rgb(255, 88, 88);
    color: black;
}

.topnav a.active{
    background-color: rgb(236, 164, 97);
    color: rgb(0, 0, 0);
}